RewriteEngine On

## RewriteCond %{REQUEST_FILENAME} !-f
## RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^login$ receivingLoginRequest.php
RewriteRule ^users receivingUsersRequests.php
RewriteRule ^tweets receivingTweetsRequests.php
RewriteRule ^comments receivingCommentsRequests.php